@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Welcome to the <b>TeamTrack</b></h1>
    <h3> Employee Management System</h3>
    <p>We manage your organization's employees and departments efficiently.</p>

    <div class="features background-light p-3 mb-3 display-flex flex-col ">
        <h2>Features</h2>
        <ul>
            <li>Add, Edit, and Delete Employees</li>
            <li>Assign Employees to Departments</li>
            <li>Manage Departments</li>
            <li>Assign and Manage Employee Managers</li>
        </ul>
    </div>




</div>